.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 400px;
    background: #1c92d2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

.imgContainer {
    margin-left: -175px;
    padding: 10px;
    background-color: black;
    border-radius: 200px;
}

.imgContainer img {
    width: 350px;
    border-radius: 200px
}

.contentContainer {
    text-align: end;
    padding: 20px;
    font-family: 'Architects Daughter', cursive;
}

.contentContainer h5 {
    font-size: 1.6em;
    font-weight: 600;
}

.contentContainer p {
    font-size: 1.5em;
    font-weight: 600;
}

.contentContainer a {
    padding: 10px;
    color: white;
    background-color: rgb(47, 46, 46);
    border-radius: 5px;
}
