.menuContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    margin: 10px;
}

.card img{
    height: 200px !important;
}

.carousel-inner{
    height: 450px;
    border-radius: 40px;
}

