@page
@model PizzaPlace.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/menu.css" />
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
}
<div class="pageHeader">
    <h3>Pizza menu</h3>
</div>
    <div class="menuContainer">
        @foreach (var item in Model.MenuItems)
        {
        <div class="cardContainer">
            <div class="imgContainer">
                <img src="@item.ImageUrl" />
            </div>
            <div class="contentContainer">
                <h5>@item.Title</h5>
                <p>@item.Description</p>
                <a asp-route-id="@item.Id" asp-page="Details">Details</a>
            </div>
        </div>
        }
    </div>

   